.container{

}
.row{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.column{
    flex: auto;
}

.traffic-path-table{

}

.traffic-path-table th,td{
    border-style: solid;
    border-width: 1px;
}

.traffic-path-table th{

}

.traffic-path-table td{
    font-size: .85em;
}

.traffic-path-table td p{
    margin: 0;
}

.chart-container{

}

.chart-form{
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    max-width: 80vw;
    padding-top: 1em;
    padding-bottom: 1em;
}

.chart-form .form-control{
    flex-shrink: 1;
    flex-grow: .05;
}

.form-control label{
    display: block;
}

.form-control input{
    min-height: 1.5rem;
    padding: 0;
    margin: 0;
}

.form-submit{
    flex-shrink: 1;
    flex-grow: .05;
    margin-top: auto;
}
