{% extends "base.html" %}

{% block body %}
{% include "includes/chart.html" with context %}
<div id="repo-hrefs" style="display:none;" data-chart-id="{{ chart_id }}">
    {% for repo in repos.values() %}
    <a href="{{ repo.detail_url }}">{{ repo.repo_slug }}</a>
    {% endfor %}
</div>
{% endblock %}

{% block jsfoot %}
{{ super() }}
<script src="{{ request.app.router.static.url_for(filename='chartloader.js') }}"></script>
<script type="text/javascript">
$(function(){
    $("#timeline-chart").on('repoClicked', function(e, repoSlug){
        var $a = $("#repo-hrefs a:contains(T)".replace('T', repoSlug));
        window.location.href = $a.attr('href');
    });
});
</script>
{% endblock %}
