{% extends "base.html" %}

{% block body %}
<h1>{{ repo.repo_slug }}</h1>
<div class="container">
    <div class="row">
        <div class="column detail-chart-container">
            {% with chart_css_classes="detail-chart" %}
            {% include "includes/chart.html" with context %}
            {% endwith %}
        </div>
    </div>
    <div class="row">
        <div class="column">
            <table class="detail-table">
                <thead><tr>
                {% for header in ["Referrer", "Count", "Uniques"] %}
                    <th>{{ header }}</th>
                {% endfor %}
                </tr></thead>
                <tbody>
                {% for entry in traffic_referrers %}
                    <tr>
                    {% for key in ["referrer", "count", "uniques"] %}
                        <td>{{ entry[key] }}</td>
                    {% endfor %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="column">
            <table class="detail-table">
                <thead><tr>
                    {% for header in ["Path", "Count", "Uniques"] %}
                    <th>{{ header }}</th>
                    {% endfor %}
                </tr></thead>
                <tbody>
                {% for entry in traffic_paths %}
                <tr>
                    <td>
                        <a href="{{ repo.get_gh_url() }}/{{ entry.path }}">{{ entry.path }}</a>
                        <p>{{ entry.title }}</p>
                    </td>
                    <td>{{ entry.count }}</td>
                    <td>{{ entry.uniques }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}

{% block jsfoot %}
{{ super() }}
<script src="{{ request.app.router.static.url_for(filename='chartloader.js') }}"></script>
{% endblock %}
